.commnent-all{
    width: 100%;
    
    margin: 0 auto;
   
    padding: 20px;
}

.comment-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

.comment .fa-user{
    font-size: 50px;
}

#write{
    width: 100%;
}
#write textarea {
    width: 100%; /* Đặt kích thước hộp nhập liệu */
    resize: none;
}

#actions {
    display: flex;
    gap: 10px; /* Khoảng cách giữa các nút */
}

#submit-button, #reset-button {
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#submit-button {
    background-color: #4CAF50;
    color: white;
}

#comment-display {
    margin-top: 20px;
    padding: 10px;
    background-color:#ddd;
    border-radius: 2px;
    width: 1200px;
    margin-left: 51px;

}

.comment-item {
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    border-radius: 4px;
}
h5{
    color: red;
}

#includedComment button {
    padding: 10px;
    font-size: 16px;
    width: 120px; /* Cùng chiều rộng */
    height: 40px; /* Cùng chiều cao */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
}
