#footer {
    background-color: #33bbff;
    color: white; 
    padding: 20px; 
    padding-left: 50px;
    position: relative; 
    bottom: 0; 
    width: 100%; 
    z-index: 3;
    margin-top: 50px;
    min-height: 150px;
}

.footer-content {
    display: flex; /* Sử dụng Flexbox để sắp xếp các phần tử */
    justify-content: space-between; /* Đặt khoảng cách đều giữa các phần tử */
    max-width: 1000px; 
}
.left-footer{
    width: 500px;
    
}
.right-footer{
    float: left;
}
.footer-contact {
    list-style-type: none; 
    padding: 0; 
}

.footer-contact li {
    margin: 0 15px; 
}

.footer-contact a {
    color: white; 
    text-decoration: none; 
}

.footer-contact a:hover {
    text-decoration: underline; 
}